pre { line-height: 125%; }

/* Override highlight.js styles for Pygments blocks */
/* Make Pygments styles more specific so they override highlight.js */
.codehilite code.hljs {
    /* Reset highlight.js base styles */
    background: #f8f8f8 !important;
    color: #000000 !important;
}
/* Ensure Pygments classes override highlight.js with higher specificity - matching 'o v' colors */
.codehilite code.hljs .k { color: #4a5c8a !important; font-weight: bold !important; } /* Tag - RGB(74,92,138) */
.codehilite code.hljs .n { color: #c46010 !important; } /* Field - RGB(196,96,16) */
.codehilite code.hljs .p { color: #ff00c4 !important; } /* Separator - RGB(255,0,196) */
.codehilite code.hljs .s { color: #08c410 !important; } /* String - RGB(8,196,16) */
.codehilite code.hljs .s1 { color: #589e56 !important; } /* Single-quoted string - RGB(88,158,86) */
.codehilite code.hljs .s2 { color: #c6c62e !important; } /* Double-quoted/multi-line string - RGB(198,198,46) */
.codehilite code.hljs .c { color: #0000FF !important; font-style: italic !important; } /* Comment - blue */
.codehilite code.hljs .mi { color: #80d8ec !important; } /* Integer - RGB(128,216,236) */
.codehilite code.hljs .mf { color: #80d8ec !important; } /* Float - RGB(128,216,236) */
.codehilite code.hljs .m { color: #80d8ec !important; } /* Number - RGB(128,216,236) */
.codehilite code.hljs .kc { color: #a800c4 !important; font-weight: bold !important; } /* Null - RGB(168,0,196) */
.codehilite code.hljs .l { color: #00FFFF !important; font-weight: bold !important; } /* Literal (true/false) - cyan */
.codehilite code.hljs .cs { color: #0000FF !important; font-style: italic !important; } /* Comment.Special */
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.codehilite .hll { background-color: #ffffcc }
.codehilite { background: #f8f8f8; }
.codehilite .c { color: #0000FF; font-style: italic } /* Comment - blue, matching 'o v' */
.codehilite .err { color: #F00 } /* Error */
.codehilite .k { color: #4a5c8a; font-weight: bold } /* Keyword/Tag - RGB(74,92,138), matching 'o v' */
.codehilite .o { color: #666 } /* Operator */
.codehilite .ch { color: #0000FF; font-style: italic } /* Comment.Hashbang - blue */
.codehilite .cm { color: #0000FF; font-style: italic } /* Comment.Multiline - blue */
.codehilite .cp { color: #0000FF; font-style: italic } /* Comment.Preproc - blue */
.codehilite .cpf { color: #0000FF; font-style: italic } /* Comment.PreprocFile - blue */
.codehilite .c1 { color: #0000FF; font-style: italic } /* Comment.Single - blue */
.codehilite .cs { color: #0000FF; font-style: italic } /* Comment.Special - blue */
.codehilite .gd { color: #A00000 } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.codehilite .gr { color: #E40000 } /* Generic.Error */
.codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #008400 } /* Generic.Inserted */
.codehilite .go { color: #717171 } /* Generic.Output */
.codehilite .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #04D } /* Generic.Traceback */
.codehilite .kc { color: #a800c4; font-weight: bold } /* Keyword.Constant (null) - RGB(168,0,196), matching 'o v' */
.codehilite .kd { color: #4a5c8a; font-weight: bold } /* Keyword.Declaration - tag color */
.codehilite .kn { color: #4a5c8a; font-weight: bold } /* Keyword.Namespace - tag color */
.codehilite .kp { color: #4a5c8a } /* Keyword.Pseudo - tag color */
.codehilite .kr { color: #4a5c8a; font-weight: bold } /* Keyword.Reserved - tag color */
.codehilite .kt { color: #4a5c8a; font-weight: bold } /* Keyword.Type - tag color */
.codehilite .m { color: #80d8ec } /* Literal.Number - RGB(128,216,236), matching 'o v' */
.codehilite .s { color: #08c410 } /* Literal.String - RGB(8,196,16), matching 'o v' */
.codehilite .na { color: #687822 } /* Name.Attribute */
.codehilite .nb { color: #008000 } /* Name.Builtin */
.codehilite .nc { color: #00F; font-weight: bold } /* Name.Class */
.codehilite .no { color: #800 } /* Name.Constant */
.codehilite .nd { color: #A2F } /* Name.Decorator */
.codehilite .ni { color: #717171; font-weight: bold } /* Name.Entity */
.codehilite .ne { color: #CB3F38; font-weight: bold } /* Name.Exception */
.codehilite .nf { color: #00F } /* Name.Function */
.codehilite .nl { color: #767600 } /* Name.Label */
.codehilite .nn { color: #00F; font-weight: bold } /* Name.Namespace */
.codehilite .nt { color: #008000; font-weight: bold } /* Name.Tag */
.codehilite .nv { color: #19177C } /* Name.Variable */
.codehilite .ow { color: #A2F; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #BBB } /* Text.Whitespace */
.codehilite .mb { color: #666 } /* Literal.Number.Bin */
.codehilite .mf { color: #666 } /* Literal.Number.Float */
.codehilite .mh { color: #666 } /* Literal.Number.Hex */
.codehilite .mi { color: #666 } /* Literal.Number.Integer */
.codehilite .mo { color: #666 } /* Literal.Number.Oct */
.codehilite .sa { color: #BA2121 } /* Literal.String.Affix */
.codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
.codehilite .sc { color: #BA2121 } /* Literal.String.Char */
.codehilite .dl { color: #BA2121 } /* Literal.String.Delimiter */
.codehilite .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.codehilite .s2 { color: #BA2121 } /* Literal.String.Double */
.codehilite .se { color: #AA5D1F; font-weight: bold } /* Literal.String.Escape */
.codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
.codehilite .si { color: #A45A77; font-weight: bold } /* Literal.String.Interpol */
.codehilite .sx { color: #008000 } /* Literal.String.Other */
.codehilite .sr { color: #A45A77 } /* Literal.String.Regex */
.codehilite .s1 { color: #BA2121 } /* Literal.String.Single */
.codehilite .ss { color: #19177C } /* Literal.String.Symbol */
.codehilite .bp { color: #008000 } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #00F } /* Name.Function.Magic */
.codehilite .vc { color: #19177C } /* Name.Variable.Class */
.codehilite .vg { color: #19177C } /* Name.Variable.Global */
.codehilite .vi { color: #19177C } /* Name.Variable.Instance */
.codehilite .vm { color: #19177C } /* Name.Variable.Magic */
.codehilite .il { color: #80d8ec } /* Literal.Number.Integer.Long - RGB(128,216,236) */
.codehilite .n { color: #c46010 } /* Name/Field - RGB(196,96,16), matching 'o v' field color */
.codehilite .p { color: #ff00c4 } /* Punctuation/Separator - RGB(255,0,196), matching 'o v' separator color */
